==
<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Company</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="https://facebook.com/clubdeleonesdedavid"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="https://www.instagram.com/"><div class="fui-instagram"></div><div class="fui-instagram"></div></a>
        <a href="https://twitter.com/clubleonesdavid"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
    </div>
</div>