[viewBag]
==
<div class="container">
    <div class="social-btns pull-right">
        <a href="https://facebook.com/clubdeleonesdedavid"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="https://instagram.com/clubdeleonesdedavid"><div class="fui-instagram"></div><div class="fui-instagram"></div></a>
        <a href="https://twitter.com/clubleonesdavid"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
    <div class="additional-links">
  <em> La Asociación Internacional de Clubes de Leones (LCI) es una organización para el bienestar social 501(c)(4) exenta de impuestos y no puede aceptar o solicitar donaciones caritativas. Todas las donaciones que se aceptan en lionsclubs.org son para apoyar a la Fundación Lions Clubs International (LCIF), la cual es una organización caritativa pública exenta de impuestos 501(c)(3). LCI y LCIF son proveedores de oportunidades igualitarias de empleo. </em>
    </div>
</div>