==
<?php
function onStart(){
    $conectar= mysqli_connect('localhost','root','','clubdeleonesdedavid');
	//verificamos la conexion
	if(!$conectar){
		echo"No Se Pudo Conectar Con El Servidor";
	}
    $sql= "select id from users where `last_login`=(select max(`last_login`)from users)";
    $ejecutar = mysqli_query($conectar,$sql);
    $id0 = mysqli_fetch_array($ejecutar);
    $id=$id0['id'];
    
    $sql2="SELECT `user_group_id` FROM `users_groups` WHERE `user_id`= '$id'";
    $idgroup0 = mysqli_query($conectar,$sql2);
	$idgroup = mysqli_fetch_array($idgroup0);
	
	if ($idgroup['user_group_id']==3){
	    $this['navbar']='nav-admin';
	    }
        else
            {
            if($idgroup['user_group_id']==1){
                $this['navbar']='nav-supervisor';
                }
                else
                    {
                     $this['navbar']='nav-normal';
                        }
            }
    }
?>
==
{%partial navbar%}